@import "tailwindcss" source(none);
@source "./web/wp-content/themes/operation-timeline/views";
@source "./web/wp-content/themes/operation-timeline/inc";

@variant dark (.dark &);

[x-cloak] {display:none!important}
